<h1 class="mt-4">Dashboard ADMINISTRACAO</h1>
<p class="lead mb-3">Welcome StaticUSER</p>
<div>
<h2 hidden = <%= global %>>VOCE NAO TEM PERMISSAO DE ESTAR AQUI </h2>
<a href="/ocorrencia/consultar" !hidden=< %= global %> class="">Consultar Ocorrências</a><br>
<a href="/ocorrencia/registrar" !hidden=<%= global %> class="">Registrar Ocorrência</a><br>
<a href="/ocorrencia/validar"  !hidden=<%= global %> class="">Validar Ocorrência</a><br>
<a href="/users/register" !hidden=<%= global %> class="">Cadastrar Policial</a><br>
<a href="/users/logout" !hidden=<%= global %> class="">Sair</a>
</div>
